{% extends 'base/base.html' %}

{% block content %}

{% block messages %}
    {% if message %}<div class='imp_message'>{{ message }}</div>{% endif %}
{% endblock %}
<style>
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>


<form action="/api/venues/" method="post">
    {% csrf_token %}
    {{ form }}
    <br/>
    <input type="submit" class="btn" value="Add Venue">
</form>

<script>
  window.parent.postMessage("{{ token }}", "{{ client }}" )
</script>

{% endblock %}