{% extends 'base/base.html' %}

{% block content %}

{% block messages %}
    {% if message %}<div class='imp_message'>{{ message }}</div>{% endif %}
{% endblock %}
<style>
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
</style>


<form action="/api/events/create/" method="post">
    {% csrf_token %}
    {{ form }}
    <br/>
    <input type="submit" class="btn" value="Create Event">
</form>


<script type="text/javascript">
  $(function(){
    $('#id_start_date').datetimepicker({formatTime: 'h A', format: 'Y-m-d h:m'});
    $('#id_end_date').datetimepicker({formatTime: 'h A', format: 'Y-m-d h:m'});
  });
</script>

<script>
  window.parent.postMessage("{{ token }}", "{{ client }}" )
</script>

{% endblock %}