#pv-sign-up > div{
    display: flex;
    flex-direction: row;
}

#pv-sign-up a {
    padding: 20px;
}

#event-coord-signup-btn {
    background-color: #87e3c9;
    color: white;
}

#venue-coord-signup-btn {
    background-color: #9000ff;
    color: white;
}