body {
    color: #464649;
}

h1,h2,h3 {
  color: #464649;
}

input {
    padding-left: 10px !important;
}

#event-coord-signup-btn {
    background-color: #87e3c9;
    color: white;
}

#venue-coord-signup-btn {
    background-color: #9000ff;
    color: white;
}

.btn {
    color: white;
    background-color: #8247ff !important;
}

.padding-20 {
    padding: 20px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#register-link a {
    color: #4f61bc;
}

.pv-card-wide.mdl-card {
  width: 512px;
}
.pv-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: #8247ff;
}
.pv-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-button--raised.mdl-button--colored {
    background: #8247ff !important;
}