<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title>PerfectVenue</title>
	<link rel='stylesheet' href='/static/css/base.css' />
	<link rel='stylesheet' href='/static/javascript/node_modules/jquery-datetimepicker/jquery.datetimepicker.css' />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel='stylesheet' href='/static/javascript/node_modules/base.css' />
	<script src="/static/javascript/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/static/javascript/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>



</head>
<body>

	<!-- Page content -->
	{% block content %}
	{% endblock %}

</body>
</html>
